.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px;
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
}
